<div id="menu">
    <div class="pure-menu">
        <a class="pure-menu-heading" href="/">{{site.name}}</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="start.html" class="pure-menu-link">Get Started</a></li>
            <li class="pure-menu-item"><a href="layouts.html" class="pure-menu-link">Layouts</a></li>
            <li class="pure-menu-item" class="menu-item-divided pure-menu-selected">
                <a href="#" class="pure-menu-link">Services</a>
            </li>
            <!-- <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li> -->
        </ul>
    </div>
</div>
